.about{
    align-items: center;
    padding-top: 30px;
    text-align: center;
    background-color:aqua ;
}
.root{
    padding-left: 100px;
    padding-top: 50px;
    background-color: cadetblue;
    padding-bottom: 200px;


}
.root-div-1{
  
    background-color: rgb(36, 56, 56);
    
}
.root-div{
    padding-left: 300px;
    padding-bottom: 200px;
    width: 700px;
    color: wheat;
    padding-top: 50px;
}